/* * {
    float: right;
    width: 30%;
    text-align: center;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
    border: thin silver solid;
    margin: 0.5em;
    padding: 0.5em;
   
  } */
  /* img.scaled {
    width: 100%;
  } */


  .hi {
    /* border: 1px solid red; */
    margin-top: 25px;
    /* box-shadow: 10px 10px 10px #EACC4C; */
    /* box-shadow: 0 0px 0px 0, 0 3px 31px 0 #00FF7B; */
    box-shadow: 0 0px 0px 0, 0 3px 31px 0 #00CCCC;

  }
  .quote {
    display: block;
  }



.hi:hover{
	opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}
@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
#images {
  background-size: contain;
  margin-bottom: 15px;
  margin-top: 15px;
}


